@import '../../../css/theme';

.navbar {
    background-color: rgba($color: black, $alpha: 0.3);
    color: rgba($color: $text, $alpha: 1.0);
    width: 20vw;
    height: 100vh;
    overflow-y: hidden;
}