@import '../../../css/theme';

.deadlines {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: flex-start;

    .card {
        width: 18vw;
        margin-bottom: 15px;
        background-color: rgba(255,255,255,0.5);
    
        .card_content {
            display: flex;
            flex-direction: column;
        }
    
        .card_footer {
            display: flex;
            height: 4vh;
            margin-top: -18px;
            .button {
                position: relative;
                left: 55%;
            }
        }
    }
}

.card_root {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    padding: 0 30px;    
}