@import '../../../css/theme';

.deadlinecard {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: 1px solid $primary;
	padding-left: 10px;
	min-width: 720px;
	width: 100%;
	margin-bottom: 15px;
	height: auto;

	.card_root {
		display: flex;
		justify-content: space-between;

		.card_content {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			

			.content_headers {
				display: flex;
				flex-direction: row;
				width: 60%;
				align-items: center;

				.content_category {
					text-decoration: underline;
					font-size: 21px;
					color: #8b8f8e;
				}

				.content_description {
					margin-left: 6rem;
					color: $text;
				}
			}
		}

		.card_buttons {
			display: flex;
			align-items: center;
		}
	}
}
