@import '../../../css/theme';

.card_root {
	width: 20vw;
	height: auto;
	margin-bottom: 15px;
	background-color: rgba(39, 141, 152, 0.7);
	display: flex;
	justify-content: space-between;

	.card_content {
		display: flex;
		flex-direction: column;
		background-color: rgba(255, 255, 255, 0.7);
	}

	.card_buttons {
		width: 3vw;
		background-color: grey;
		display: flex;
		flex-direction: column;
		align-items: center;
		.button {
			align-self: center;
		}
	}
}
